@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #93C47D;
}

#tous{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 30px;
}

.fa-recycle{
    font-size: 70px;
    margin-left: 20px;
}

#dechets{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #106900;
    font-size: 25px;
    border-radius: 10px 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px grey;
}

span{
    margin-left: 10px;
    margin-right: 10px;
}

#conseil{
    color: gray;
    font-size: 15px;
    margin-top: 80px;
}

#poubelles{
    font-size: 150px;
    margin-top: 100px;
}

#poubelleJaune{
    color: #E0D42B;
}

#poubelleBleu{
    color: #16193D;
}

#poubelleVerte{
    color: #0B2E13;
}

#poubelleMarron{
    color: #69471E;
}

#resultat{
    border: 2px solid black;
    color: white;
    text-decoration: none;
    background-color: #106900;
    font-size: 25px;
    margin-top: 30px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px 5px;
}